# Data Science Playook

<p align="center">
  <img width="180" src="https://user-images.githubusercontent.com/19881320/54484151-b85c4780-4836-11e9-923f-c5e0e5afe866.jpg">
</p>

William Ponton

June 2019

## Table of Contents
- [Overview ](#overview)

- [0.0 Importing Data](#import)

- [0.1 Cleaning and Organizing](#clean)

- [0.2 Numerical Analysis](#numerical)

- [0.3 Visualizations](#visualizations)

- [0.4 Interpretation and Reporting](#interpret)

## Overview

<a id="overview"></a>

Libraries used include ```pandas```, ```numpy```, ```matplotlib```, ```seaborn```, ```bokeh```.  Let's import them all at once up front and follow the common naming standards for using these Python libraries.  I will mostly be using ```pandas``` for the importing and wrangling processes, ```numpy``` for numerical analysis, and finally ```matplotlib``` and ```seaborn``` for visualizations.

### Import the common Data Analysis libraries

In [402]:
import pandas as pd
import numpy as np
import seaborn as sb
import bokeh as bk

In [403]:
%matplotlib inline
# Inline matplotlib (keep charts in this nb)
import matplotlib.pyplot as plt

In [404]:
import warnings
warnings.filterwarnings('ignore')
# This was a warning on the KDE Plot for 2D topo mappings

## 0.0 Importing Data

<a id="import"></a>

In [405]:
# Column names
column_names = ["Face", "Suit", "Value"]

In [406]:
# Reading the CSV file using the col_names list in the names parameter:
df = pd.read_csv("app_data/deck.csv", sep=",", header=1, 
                        names = column_names, index_col=0)

In [407]:
df.head(10)

         Suit  Value
Face
queen  spades     12
jack   spades     11
ten    spades     10
nine   spades      9
eight  spades      8
seven  spades      7
six    spades      6
five   spades      5
four   spades      4
three  spades      3

In [408]:
# Create a DataFrame from scratch
# Rockers
users = {"id":[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 
         "lastName": ["Osborne", "Kilmister", "Iommi", "Page", "Mercury", "Abbot", "Plant", "Holt", "Wylde", "Ponton", "Osborne", "May", "Lee", "Dickinson", "", "Zombie", "Ulrich", "Keenan", "Mustaine", "Grohl"], 
         "firstName": ["Ozzy", "Lemmy", "Tony", "Jimmy", "Freddie", "Dimebag Darrell", "Robert", "Gary", "Zakk", "William", "Sharon", "Brian", "Geddy", "Bruce", "Eddie", "Rob", "Lars", "Maynard James", "Dave", "Dave"], 
         "band": ["Black Sabbath", "Motorhead", "Black Sabbath", "Led Zeppelin", "Queen", "Pantera", "Led Zeppelin", "Slayer", "Black Label Society", "The Guinea Worm", None, "Queen", "Rush", "Iron Maiden", "Iron Maiden", "White Zombie", "Metallica", "Tool", "Megadeth", "Foo Fighters"], 
         "userName": ["theOzzman", "LemmyIsGod", "ironMan", "zoso", "theQueen", "dimeslime", "theBard", "officerHolt", "zakkwyldebls", "handcraftedstatic", "queenBee", "bMay", "geddyLee", "captBruce", "Eddie", "zombieRob", "lars", "maynard", "mustaine", "daveG"],
         "birthYear" : [1948, 1945, 1948, 1944, 1946, 1966, 1948, 1965, 1967, 1982, 1952, 1947, 1953, 1958, 1979, 1965, 1963, 1964, 1961, 1969], 
         "points":[27, 36, 29, 9, 85, 80, 17, 75, 47, 25, 14, 50, 14, 72, 75, None, 73, 31, 84, 92], 
         "email" : ["ozman@gmail.com", "aceofspades@hotmail.com", "iamironman@gmail.com", "zoso@yahoo.com", "sales@queen.com", "dimeslime@gmail.com", "sirRobertPlant@yahoo.com", "officerHolt@gmail.com", "tBLSt@yahoo.com", "spacejazzmusic@gmail.com", "sharonoz@gmail.com", "brianmay@hotmail.com", "geddyLee@yahoo.com", "captainBruce@gmail.com", "og_eddie@yahoo.com", "threefromhell@yahoo.com", "total_drummer@gmail.com", "mjk@gmail.com", "mechanix@gmail.com", "foofighter@gmail.com"]}

In [409]:
# Bands
bands = {"band": ["Black Sabbath", "Motorhead", "Black Sabbath", "Led Zeppelin", "Queen", "Pantera", "Led Zeppelin", "Slayer", "Black Label Society", "The Guinea Worm", "None", "Queen", "Rush", "Iron Maiden", "Iron Maiden", "White Zombie", "Metallica", "Tool", "Megadeth", "Foo Fighters"], 
         "memberCount" : [4, 3, 4, 4, 4, 4, 4, 4, 5, 2, None, 4, 3, 5, 5, 4, 4, 4, 5, 6], 
         "foundedYear" : [1969, 1970, 1969, 1969, 1970, 1985, 1969, 1981, 1995, 2005, 0, 1970, 1978, 1979, 1979, 1991, 1981, 1992, 1984, 1996]}

In [410]:
bands_df = pd.DataFrame(data=bands)
bands_df.head(20)

                   band  memberCount  foundedYear
0         Black Sabbath          4.0         1969
1             Motorhead          3.0         1970
2         Black Sabbath          4.0         1969
3          Led Zeppelin          4.0         1969
4                 Queen          4.0         1970
5               Pantera          4.0         1985
6          Led Zeppelin          4.0         1969
7                Slayer          4.0         1981
8   Black Label Society          5.0         1995
9       The Guinea Worm          2.0         2005
10                 None          NaN            0
11                Queen          4.0         1970
12                 Rush          3.0         1978
13          Iron Maiden          5.0         1979
14          Iron Maiden          5.0         1979
15         White Zombie          4.0         1991
16            Metallica          4.0         1981
17                 Tool          4.0         1992
18             Megadeth          5.0         1984
19         Foo Fighters          6.0         1996

In [411]:
# Join the rockers_df and the bands_df together linked on the "band" column
rockers_in_bands = pd.merge(rockers_df, bands_df[["band", "memberCount", "foundedYear"]], how='left', left_on='band', right_on='band')
rockers_in_bands

,id,lastName,firstName,band,userName,birthYear,points,email,memberCount,foundedYear
0,1,Osborne,Ozzy,Black Sabbath,theOzzman,1948,27.0,ozman@gmail.com,4.0,1969.0
1,1,Osborne,Ozzy,Black Sabbath,theOzzman,1948,27.0,ozman@gmail.com,4.0,1969.0
2,2,Kilmister,Lemmy,Motorhead,LemmyIsGod,1945,36.0,aceofspades@hotmail.com,3.0,1970.0
3,3,Iommi,Tony,Black Sabbath,ironMan,1948,29.0,iamironman@gmail.com,4.0,1969.0
4,3,Iommi,Tony,Black Sabbath,ironMan,1948,29.0,iamironman@gmail.com,4.0,1969.0
5,4,Page,Jimmy,Led Zeppelin,zoso,1944,9.0,zoso@yahoo.com,4.0,1969.0
6,4,Page,Jimmy,Led Zeppelin,zoso,1944,9.0,zoso@yahoo.com,4.0,1969.0
7,5,Mercury,Freddie,Queen,theQueen,1946,85.0,sales@queen.com,4.0,1970.0
8,5,Mercury,Freddie,Queen,theQueen,1946,85.0,sales@queen.com,4.0,1970.0
9,6,Abbot,Dimebag Darrell,Pantera,dimeslime,1966,80.0,dimeslime@gmail.com,4.0,1985.0
10,7,Plant,Robert,Led Zeppelin,theBard,1948,17.0,sirRobertPlant@yahoo.com,4.0,1969.0
11,7,Plant,Robert,Led Zeppelin,theBard,1948,17.0,sirRobertPlant@yahoo.com,4.0,1969.0
12,8,Holt,Gary,Slayer,officerHolt,1965,75.0,officerHolt@gmail.com,4.0,1981.0
13,9,Wylde,Zakk,Black Label Society,zakkwyldebls,1967,47.0,tBLSt@yahoo.com,5.0,1995.0
14,10,Ponton,William,The Guinea Worm,handcraftedstatic,1982,25.0,spacejazzmusic@gmail.com,2.0,2005.0
15,11,Osborne,Sharon,None,queenBee,1952,14.0,sharonoz@gmail.com,NaN,NaN
16,12,May,Brian,Queen,bMay,1947,50.0,brianmay@hotmail.com,4.0,1970.0
17,12,May,Brian,Queen,bMay,1947,50.0,brianmay@hotmail.com,4.0,1970.0
18,13,Lee,Geddy,Rush,geddyLee,1953,14.0,geddyLee@yahoo.com,3.0,1978.0
19,14,Dickinson,Bruce,Iron Maiden,captBruce,1958,72.0,captainBruce@gmail.com,5.0,1979.0
20,14,Dickinson,Bruce,Iron Maiden,captBruce,1958,72.0,captainBruce@gmail.com,5.0,1979.0
21,15,,Eddie,Iron Maiden,Eddie,1979,75.0,og_eddie@yahoo.com,5.0,1979.0
22,15,,Eddie,Iron Maiden,Eddie,1979,75.0,og_eddie@yahoo.com,5.0,1979.0
23,16,Zombie,Rob,White Zombie,zombieRob,1965,NaN,threefromhell@yahoo.com,4.0,1991.0
24,17,Ulrich,Lars,Metallica,lars,1963,73.0,total_drummer@gmail.com,4.0,1981.0
25,18,Keenan,Maynard James,Tool,maynard,1964,31.0,mjk@gmail.com,4.0,1992.0
26,19,Mustaine,Dave,Megadeth,mustaine,1961,84.0,mechanix@gmail.com,5.0,1984.0
27,20,Grohl,Dave,Foo Fighters,daveG,1969,92.0,foofighter@gmail.com,6.0,1996.0

In [412]:
# Order the results by band name
rockers_in_bands.sort_values(["band", "lastName"], ascending=False)

,id,lastName,firstName,band,userName,birthYear,points,email,memberCount,foundedYear
23,16,Zombie,Rob,White Zombie,zombieRob,1965,NaN,threefromhell@yahoo.com,4.0,1991.0
25,18,Keenan,Maynard James,Tool,maynard,1964,31.0,mjk@gmail.com,4.0,1992.0
14,10,Ponton,William,The Guinea Worm,handcraftedstatic,1982,25.0,spacejazzmusic@gmail.com,2.0,2005.0
12,8,Holt,Gary,Slayer,officerHolt,1965,75.0,officerHolt@gmail.com,4.0,1981.0
18,13,Lee,Geddy,Rush,geddyLee,1953,14.0,geddyLee@yahoo.com,3.0,1978.0
7,5,Mercury,Freddie,Queen,theQueen,1946,85.0,sales@queen.com,4.0,1970.0
8,5,Mercury,Freddie,Queen,theQueen,1946,85.0,sales@queen.com,4.0,1970.0
16,12,May,Brian,Queen,bMay,1947,50.0,brianmay@hotmail.com,4.0,1970.0
17,12,May,Brian,Queen,bMay,1947,50.0,brianmay@hotmail.com,4.0,1970.0
9,6,Abbot,Dimebag Darrell,Pantera,dimeslime,1966,80.0,dimeslime@gmail.com,4.0,1985.0
2,2,Kilmister,Lemmy,Motorhead,LemmyIsGod,1945,36.0,aceofspades@hotmail.com,3.0,1970.0
24,17,Ulrich,Lars,Metallica,lars,1963,73.0,total_drummer@gmail.com,4.0,1981.0
26,19,Mustaine,Dave,Megadeth,mustaine,1961,84.0,mechanix@gmail.com,5.0,1984.0
10,7,Plant,Robert,Led Zeppelin,theBard,1948,17.0,sirRobertPlant@yahoo.com,4.0,1969.0
11,7,Plant,Robert,Led Zeppelin,theBard,1948,17.0,sirRobertPlant@yahoo.com,4.0,1969.0
5,4,Page,Jimmy,Led Zeppelin,zoso,1944,9.0,zoso@yahoo.com,4.0,1969.0
6,4,Page,Jimmy,Led Zeppelin,zoso,1944,9.0,zoso@yahoo.com,4.0,1969.0
19,14,Dickinson,Bruce,Iron Maiden,captBruce,1958,72.0,captainBruce@gmail.com,5.0,1979.0
20,14,Dickinson,Bruce,Iron Maiden,captBruce,1958,72.0,captainBruce@gmail.com,5.0,1979.0
21,15,,Eddie,Iron Maiden,Eddie,1979,75.0,og_eddie@yahoo.com,5.0,1979.0
22,15,,Eddie,Iron Maiden,Eddie,1979,75.0,og_eddie@yahoo.com,5.0,1979.0
27,20,Grohl,Dave,Foo Fighters,daveG,1969,92.0,foofighter@gmail.com,6.0,1996.0
0,1,Osborne,Ozzy,Black Sabbath,theOzzman,1948,27.0,ozman@gmail.com,4.0,1969.0
1,1,Osborne,Ozzy,Black Sabbath,theOzzman,1948,27.0,ozman@gmail.com,4.0,1969.0
3,3,Iommi,Tony,Black Sabbath,ironMan,1948,29.0,iamironman@gmail.com,4.0,1969.0
4,3,Iommi,Tony,Black Sabbath,ironMan,1948,29.0,iamironman@gmail.com,4.0,1969.0
13,9,Wylde,Zakk,Black Label Society,zakkwyldebls,1967,47.0,tBLSt@yahoo.com,5.0,1995.0
15,11,Osborne,Sharon,None,queenBee,1952,14.0,sharonoz@gmail.com,NaN,NaN

In [413]:
# Albums
albums = {"band": ["Black Sabbath", "Motorhead", "Black Sabbath", "Led Zeppelin", "Queen", "Pantera", "Led Zeppelin", "Slayer", "Black Label Society", "The Guinea Worm", "None", "Queen", "Rush", "Iron Maiden", "Iron Maiden", "White Zombie", "Metallica", "Tool", "Megadeth", "Foo Fighters"], 
          "albums": ["Paranoid", "Ace of Spades", "Paranoid", "II", "A Day at the Races", "Far Beyond Driven", "II", "Reign In Blood", "BLS 20th Anniversary", "Decompose", "None", "Jazz", "20112", "The Number of the Beast", "Powerslave", "La Sexorcisto", "Master of Puppets", "Lateralus", "Rust in Peace", "Foo Fighters"], 
          "memberCount" : [4, 3, 4, 4, 4, 4, 4, 4, 5, 2, None, 4, 3, 5, 5, 4, 4, 4, 5, 6], 
          "albumYear" : [1970, 1970, 1970, 1970, 1970, 1992, 1970, 1986, 1995, 2007, 0, 1976, 1989, 1982, 1983, 1994, 1986, 2000, 1988, 1996]}

In [414]:
albums_df = pd.DataFrame(data=albums)
albums_df.head(20)

                   band                   albums  memberCount  albumYear
0         Black Sabbath                 Paranoid          4.0       1970
1             Motorhead            Ace of Spades          3.0       1970
2         Black Sabbath                 Paranoid          4.0       1970
3          Led Zeppelin                       II          4.0       1970
4                 Queen       A Day at the Races          4.0       1970
5               Pantera        Far Beyond Driven          4.0       1992
6          Led Zeppelin                       II          4.0       1970
7                Slayer           Reign In Blood          4.0       1986
8   Black Label Society     BLS 20th Anniversary          5.0       1995
9       The Guinea Worm                Decompose          2.0       2007
10                 None                     None          NaN          0
11                Queen                     Jazz          4.0       1976
12                 Rush                    20112          3.0       1989
13          Iron Maiden  The Number of the Beast          5.0       1982
14          Iron Maiden               Powerslave          5.0       1983
15         White Zombie            La Sexorcisto          4.0       1994
16            Metallica        Master of Puppets          4.0       1986
17                 Tool                Lateralus          4.0       2000
18             Megadeth            Rust in Peace          5.0       1988
19         Foo Fighters             Foo Fighters          6.0       1996

In [417]:
# Merge all three tables together in to one
pd.merge(
    pd.merge(bands_df[["band", "memberCount", "foundedYear"]], rockers_df, how='left', left_on='band', right_on='band'),
    albums_df, left_on="band", right_on="band")[
    ["firstName", "lastName", "birthYear", "points", "albums", "band", "foundedYear", "albumYear"]
].sort_values(["band"])

,firstName,lastName,birthYear,points,albums,band,foundedYear,albumYear
27,Zakk,Wylde,1967.0,47.0,BLS 20th Anniversary,Black Label Society,1995,1995
0,Ozzy,Osborne,1948.0,27.0,Paranoid,Black Sabbath,1969,1970
1,Ozzy,Osborne,1948.0,27.0,Paranoid,Black Sabbath,1969,1970
2,Tony,Iommi,1948.0,29.0,Paranoid,Black Sabbath,1969,1970
3,Tony,Iommi,1948.0,29.0,Paranoid,Black Sabbath,1969,1970
4,Ozzy,Osborne,1948.0,27.0,Paranoid,Black Sabbath,1969,1970
5,Ozzy,Osborne,1948.0,27.0,Paranoid,Black Sabbath,1969,1970
6,Tony,Iommi,1948.0,29.0,Paranoid,Black Sabbath,1969,1970
7,Tony,Iommi,1948.0,29.0,Paranoid,Black Sabbath,1969,1970
43,Dave,Grohl,1969.0,92.0,Foo Fighters,Foo Fighters,1996,1996
36,Bruce,Dickinson,1958.0,72.0,Powerslave,Iron Maiden,1979,1983
32,Bruce,Dickinson,1958.0,72.0,Powerslave,Iron Maiden,1979,1983
33,Eddie,,1979.0,75.0,The Number of the Beast,Iron Maiden,1979,1982
34,Eddie,,1979.0,75.0,Powerslave,Iron Maiden,1979,1983
35,Bruce,Dickinson,1958.0,72.0,The Number of the Beast,Iron Maiden,1979,1982
37,Eddie,,1979.0,75.0,The Number of the Beast,Iron Maiden,1979,1982
38,Eddie,,1979.0,75.0,Powerslave,Iron Maiden,1979,1983
31,Bruce,Dickinson,1958.0,72.0,The Number of the Beast,Iron Maiden,1979,1982
16,Robert,Plant,1948.0,17.0,II,Led Zeppelin,1969,1970
15,Robert,Plant,1948.0,17.0,II,Led Zeppelin,1969,1970
14,Jimmy,Page,1944.0,9.0,II,Led Zeppelin,1969,1970
13,Jimmy,Page,1944.0,9.0,II,Led Zeppelin,1969,1970
12,Robert,Plant,1948.0,17.0,II,Led Zeppelin,1969,1970
9,Jimmy,Page,1944.0,9.0,II,Led Zeppelin,1969,1970
11,Robert,Plant,1948.0,17.0,II,Led Zeppelin,1969,1970
10,Jimmy,Page,1944.0,9.0,II,Led Zeppelin,1969,1970
42,Dave,Mustaine,1961.0,84.0,Rust in Peace,Megadeth,1984,1988
40,Lars,Ulrich,1963.0,73.0,Master of Puppets,Metallica,1981,1986
8,Lemmy,Kilmister,1945.0,36.0,Ace of Spades,Motorhead,1970,1970
29,NaN,NaN,NaN,NaN,None,None,0,0
25,Dimebag Darrell,Abbot,1966.0,80.0,Far Beyond Driven,Pantera,1985,1992
21,Freddie,Mercury,1946.0,85.0,A Day at the Races,Queen,1970,1970
24,Brian,May,1947.0,50.0,Jazz,Queen,1970,1976
23,Brian,May,1947.0,50.0,A Day at the Races,Queen,1970,1970
22,Freddie,Mercury,1946.0,85.0,Jazz,Queen,1970,1976
20,Brian,May,1947.0,50.0,Jazz,Queen,1970,1976
19,Brian,May,1947.0,50.0,A Day at the Races,Queen,1970,1970
18,Freddie,Mercury,1946.0,85.0,Jazz,Queen,1970,1976
17,Freddie,Mercury,1946.0,85.0,A Day at the Races,Queen,1970,1970
30,Geddy,Lee,1953.0,14.0,20112,Rush,1978,1989
26,Gary,Holt,1965.0,75.0,Reign In Blood,Slayer,1981,1986
28,William,Ponton,1982.0,25.0,Decompose,The Guinea Worm,2005,2007
41,Maynard James,Keenan,1964.0,31.0,Lateralus,Tool,1992,2000
39,Rob,Zombie,1965.0,NaN,La Sexorcisto,White Zombie,1991,1994

In [ ]:
# Members

In [ ]:
# Create a dataframe of rockers
rockers_df = pd.DataFrame(data=users)

In [ ]:
rockers_df.head(20)

In [ ]:
# Show the Name and Birth years only
rockers_df[["lastName", "firstName", "birthYear"]]

In [ ]:
# Show a slice of the user list (rows 3 through 7)
rockers_df[3:7]

In [ ]:
# Find all null values in the points column
rockers_df[rockers_df["points"].isnull()]

In [ ]:
# Find all records with a null value in the email column
rockers_df[rockers_df["lastName"].isnull()]

In [ ]:
# Show all first and last name for all records where first name contains "J"
#rockers_df["lastName"].dropna()
#rockers_df[["firstName", "lastName", "birthYear"]]

In [ ]:
# Drop the duplications in the birthYear column
rockers_df[["birthYear"]].drop_duplicates()

In [ ]:
# Return a list of the unique birthYear values
rockers_df["birthYear"].unique()

In [ ]:
# Display some descriptive data using the email column
rockers_df["email"].describe()

In [ ]:
# Show records of only rockers born in the 1960s
rockers_df[(rockers_df["birthYear"] >=1960) & (rockers_df["birthYear"]<=1970)]

In [ ]:
# Show all records where the firstName starts with "DA" for Dave
rockers_df[rockers_df["firstName"].str.startswith('Da')]

In [ ]:
# Show all records where the lastName ends with "borne" for Osborne
rockers_df[rockers_df["lastName"].str.endswith('borne')]

In [ ]:
rockers_df[rockers_df["email"].str.contains("@hotmail.com")]

In [ ]:
# Show all records where the email has a @hotmail.com domain
rockers_df[rockers_df["userName"].str.contains('z')]

In [ ]:
# Show all first and last name for all records where first name contains "J"
rockers_df[rockers_df["firstName"].str.contains('J')][["firstName", "lastName", "birthYear"]]

In [ ]:
# Find the mean of the values in the points column
print("The average point value is: {}".format(rockers_df["points"].mean()))

In [ ]:
# Find the mean of the values in the birthYear column
print("The average birth year is {}".format(int(rockers_df["birthYear"].mean())))

In [ ]:
# Create a DataFrame from scratch
ufo_df = pd.read_csv("app_data/ufo_sightings_complete.csv", sep=",", header=0, index_col=0)

## 0.2 Numerical Analysis
<a id="numerical"></a>

## 0.3 Visualizations
<a id="visualizations"></a>

## 0.4 Interpretation & Reporting

<a id="interpret"></a>