# Data Science Playook

<p align="center">
  <img width="180" src="https://user-images.githubusercontent.com/19881320/54484151-b85c4780-4836-11e9-923f-c5e0e5afe866.jpg">
</p>

William Ponton

June 2019

## Table of Contents
- [Overview ](#overview)

- [0.0 Importing Data](#import)

- [0.1 Cleaning and Organizing](#clean)

- [0.2 Numerical Analysis](#numerical)

- [0.3 Visualizations](#visualizations)

- [0.4 Interpretation and Reporting](#interpret)

## Overview

<a id="overview"></a>

Libraries used include ```pandas```, ```numpy```, ```matplotlib```, ```seaborn```, ```bokeh```.  Let's import them all at once up front and follow the common naming standards for using these Python libraries.  I will mostly be using ```pandas``` for the importing and wrangling processes, ```numpy``` for numerical analysis, and finally ```matplotlib``` and ```seaborn``` for visualizations.

### Import the common Data Analysis libraries

In [9]:
import pandas as pd
import numpy as np
import seaborn as sb
import bokeh as bk

In [10]:
%matplotlib inline
# Inline matplotlib (keep charts in this nb)
import matplotlib.pyplot as plt

In [11]:
import warnings
warnings.filterwarnings('ignore')
# This was a warning on the KDE Plot for 2D topo mappings

## 0.0 Importing Data

<a id="import"></a>

In [12]:
# Column names
column_names = ["Face", "Suit", "Value"]

In [13]:
# Reading the CSV file using the col_names list in the names parameter:
df = pd.read_csv("app_data/deck.csv", sep=",", header=1, 
                        names = column_names, index_col=0)

In [14]:
df.head(10)

         Suit  Value
Face
queen  spades     12
jack   spades     11
ten    spades     10
nine   spades      9
eight  spades      8
seven  spades      7
six    spades      6
five   spades      5
four   spades      4
three  spades      3

In [15]:
ufo_df = pd.read_csv("app_data/ufo_sightings_complete.csv", sep=",", header=0, index_col=0)

,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,Unnamed: 11
datetime,,,,,,,,,,,
10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111,NaN
10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082,NaN
10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667,NaN
10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833,NaN
10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611,NaN

In [16]:
ufo_df.head(10)

,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,Unnamed: 11
datetime,,,,,,,,,,,
10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111,NaN
10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082,NaN
10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667,NaN
10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833,NaN
10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611,NaN
10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595,-82.188889,NaN
10/10/1965 21:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000,NaN
10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175,-73.408333,NaN
10/10/1966 20:00,pell city,al,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/2009,33.5861111,-86.286111,NaN
10/10/1966 21:00,live oak,fl,us,disk,120,several minutes,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.2947222,-82.984167,NaN

## 0.1 Cleaning & Organizing
<a id="clean"></a>

## 0.2 Numerical Analysis
<a id="numerical"></a>

## 0.3 Visualizations
<a id="visualizations"></a>

## 0.4 Interpretation & Reporting

<a id="interpret"></a>