# Data Science Playook

William Ponton

June 2019

## Table of Contents
- [Overview ](#overview)

- [0.0 Importing Data](#import)

- [0.1 Cleaning and Organizing](#clean)

- [0.2 Numerical Analysis](#numerical)

- [0.3 Visualizations](#visualizations)

- [0.4 Interpretation and Reporting](#interpret)

## Overview

<a id="overview"></a>

Libraries used include ```pandas```, ```numpy```, ```matplotlib```, ```seaborn```, ```bokeh```.  Let's import them all at once up front and follow the common naming standards for using these Python libraries.  I will mostly be using ```pandas``` for the importing and wrangling processes, ```numpy``` for numerical analysis, and finally ```matplotlib``` and ```seaborn``` for visualizations.

### Import the common Data Analysis libraries

In [38]:
import pandas as pd
import numpy as np
import seaborn as sb
import bokeh as bk

In [39]:
%matplotlib inline
# Inline matplotlib (keep charts in this nb)
import matplotlib.pyplot as plt

In [40]:
import warnings
warnings.filterwarnings('ignore')
# This was a warning on the KDE Plot for 2D topo mappings

## 0.0 Importing Data

<a id="import"></a>

In [41]:
# Column names
column_names = ["Face", "Suit", "Value"]

In [42]:
# Reading the CSV file using the col_names list in the names parameter:
df = pd.read_csv("app_data/deck.csv", sep=",", header=1, 
                        names = column_names, index_col=0)

In [43]:
df.head()

         Suit  Value
Face
queen  spades     12
jack   spades     11
ten    spades     10
nine   spades      9
eight  spades      8

In [44]:
ufo_df = pd.read_csv("app_data/ufo_sightings_complete.csv", sep=",", header=0, index_col=0)
ufo_df.head()

,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,Unnamed: 11
datetime,,,,,,,,,,,
10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111,NaN
10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082,NaN
10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667,NaN
10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833,NaN
10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611,NaN

## 0.1 Cleaning & Organizing
<a id="clean"></a>

## 0.2 Numerical Analysis
<a id="numerical"></a>

## 0.3 Visualizations
<a id="visualizations"></a>

## 0.4 Interpretation & Reporting

<a id="interpret"></a>